$grid-size: 42px;


.grid-row {
  height: $grid-size; // TODO: same height as toolbar -- or at least a multiple of 32 half size
  vertical-align: middle;
  display: flex; 
  flex-direction: row;
}

.grid-row:nth-child(odd) { 
  background-color:#f7f7f7; 
  //background-size: $grid-size $grid-size;
  //background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.grid-row:nth-child(even)	{ 
  background-color:#fff; 
  //background-size: $grid-size $grid-size;
  //background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.grid-cell {
  min-width: $grid-size; 
  line-height: $grid-size;
  vertical-align: middle;
  text-align: center;
}

.grid-row-header {
  padding-left: 4px;
}

.grid-col-header {
  min-width: $grid-size; 
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grid-row-headers {
  min-width: $grid-size*2; 
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: $grid-size;
}

.grid-container {
  display: flex; 
  flex-direction: row;
  user-select: none;
}

.grid-header-day-of-week {
  margin-top: 4px;
  font-size: x-small;

}

.grid-header-day-of-month {
  margin-top: -2px;
  margin-bottom: 4px;
}

.grid-body { 
  background-size: $grid-size $grid-size;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}