@import 'globals';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;

  h2 {
    color: $md-white-base;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// TODO: move all this stuff elsewhere

.md-drawer--fixed > header {
  height: 144px; // relies on fixed with
}

.toolbar-logo {
  height: 36px;
  vertical-align: middle;
}

.drawer-header {
  width: 100%;
  padding-bottom: 56.25%;
  margin: 16px;
}

.toolbar-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  max-height: 56px;
}

.search-box {
  transition: 0.3s;
}

.toolbar-search {
  margin-top: -20px;
  margin-left: 12px;

  div {
    hr {
      background: $md-white-base;
    }
    label {
      color: $md-white-base;
    }
  }
}

.search-box.hide {
  width: 0%;
  overflow: hidden;
  display: none; // TODO: fix animation
  height: 0;
}

.search-box.show {
  width: 100%;
}

.space-between-content {
  display: flex;
  justify-content: space-between;
}

.flex-box {
  display: flex;
}


.align-items-center {
  align-items: center;
  display: flex;
}

.align-flex-end {
  align-self: flex-end;
}

.align-flex-start {
  align-self: flex-start;
}


i.medium-icon {
  font-size: medium;
}

.tooltip-container {
  line-height: 18px;
  height: 18px;
}

.tooltip-container > span {
  display: none;
}

.tooltip-container:hover > span {
  display: inline-block;
  position: absolute;
}

.sticky-top {
  position: sticky;
  top: 80px;
}

.md-tooltip {
  border-radius: 2px;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 15;
}

