@import 'globals';

.date-picker-grid {
  grid-template-columns: repeat(7, 44px);
  grid-template-rows: repeat(7, 44px);
  grid-row-gap: 4px;
  display: grid;

  text-align: center;
}

.date-picker-month {
  text-align: center;
  width: 46px * 7;
}

.date-picker-day.disabled {
  opacity: 0.5;
} 

.date-picker-day.in-range {
  background: $md-light-blue-100;
  color: white;
} 

.date-picker-day:hover { 
  box-shadow: 0 0 0 2pt $md-light-blue-500;
  border-radius: 50%;
}

.date-picker-day.start-range {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
} 

.date-picker-day.end-range {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
} 

.date-picker-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.date-picker-collapse {
  padding: 8px; 
  position: absolute;
  z-index: 12; 
  background: white;
  @include md-box-shadow(3);
}

.date-picker-start-end {
  display: grid;
  grid-template-columns: 40px 120px 120px;
  grid-column-gap: 8px;
  align-items: center;
}

.date-picker-start-end-field { 
  box-shadow: 0 0 0 1px grey;
  border-radius: 2px; 
  padding: 8px;
  opacity: 0.8;
}
  
.date-picker-start-end-field.selected { 
  box-shadow: 0 0 0 1px black;
}
  