@import 'globals';


.bottom-sheet {
  position: fixed;
}

.bottom-sheet-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 10;

  // background: rgba(0, 0, 0, 0.1); // TODO: needs to fade in
}

.bottom-sheet-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.slide-vertical-enter {
  //opacity: 0.01;
  transform: translateY(100%);
}

.slide-vertical-enter.slide-vertical-enter-active {
  //opacity: 1;
  transform: translateY(0);
  transition: all 225ms ease-in;
}

.slide-vertical-exit {
  //opacity: 1;
  
  transform: translateY(0);
}

.slide-vertical-exit.slide-vertical-exit-active {
  //opacity: 0.01;
  transform: translateY(100%);
  transition: all 195ms ease-in;


}



// Large, complex, full-screen transitions may have longer durations, occurring over 375ms
// Elements entering the screen occur over 225ms
// Elements leaving the screen occur over 195ms
