.rez-cell {
  text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
  background: red;
  color: white;
  border: black;
  border-radius: 4px; // TODO: is this not very material?
}

.rez-empty-cell {
  text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
  // background: linear-gradient(to top, white, white 42px, transparent 42px, transparent), repeating-linear-gradient(to right, grey, grey 1px, white 1px, white 42px);
}

.rez-row {
  display: flex;
  flex-direction: row;
  flex-flow: row;
}