.rez-cell {
  text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
  padding: 4px;
  background: red;
  color: white;
  border: black;
  border-radius: 4px; // TODO: is this not very material?
}

.rez-empty-cell {
  text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
  padding: 4px;
}

.rez-row {
  display: flex;
  flex-direction: row;
  flex-flow: row;
}