@import 'globals';

.rd-grid {
  background: white;
}

.rd-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rd-row {
  display: grid;
  grid-template-columns: 60px 120px 80px 120px;
  align-items: center;
  height: 60px;
  padding-left: 8px;
  padding-right: 8px;
  grid-column-gap: 8px;
}

.rd-tile-icon {
  margin-left: 8px;
  margin-right: 16px;
}