@import 'globals';

@mixin wide-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 36px);
  
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
  
}

@mixin icon-three-fields {
  display: grid;
  grid-template-columns: 60px 9fr 5fr 9fr;
  align-items: center;
  grid-column-gap: 8px;
}

@mixin icon-two-fields {
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  align-items: center;
  grid-column-gap: 8px;
}

.rd-grid {
  @include wide-grid;

}

.reservation-table-grid {
  background: white;
  margin: 20px;
}

.rd-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rd-row {
  @include icon-three-fields;  
}

.rd-row2 {
  @include icon-two-fields;  
}

.rd-tile-icon {

}

.config-paper {
  width: 100%;
  background: #007ac1;
  color: white;
  margin-bottom: -44px;
  
  @include wide-grid;
}

.config-paper-cell {

  display: grid;
  grid-template-columns: 40px 120px 120px;
  grid-column-gap: 8px;
  align-items: center;


}

.config-paper-field { 

  background: #03a9f4; 
  border-radius: 2px; 
  padding: 8px;
}

.config-paper-icon {
  margin-left: 8px;
  margin-right: 16px;
}
