@import 'globals';

$res-grid-width: 40px;

@mixin res-grid {
    display: grid;
    grid-template-columns: repeat(60, 40px);
    align-items: center;
    height: 60px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    grid-column-gap: 5px;
}

@mixin text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-row-container {
  @include res-grid;
}

.res-row-container > .actions {
  display: none;
  min-width: 50px;
}

.res-row-container:hover {
  background: #eee;
}

.res-row-container:hover > .actions {
  margin-left: auto;
  display: block;
  padding-right: 24px;
}

.res-header-container  {
  position: sticky;
  @include res-grid;
  z-index: 10;
}


// The toolbar resizes at this place
// TODO: theres also a query for shrinking down in landscape phone
$screen-small: 768px;
@media screen and (max-width: $screen-small) and (orientation: landscape) {
  .res-header-container  {
    top: 48px; 
  }
}

$screen-small: 768px;
@media screen and (max-width: $screen-small) and (orientation: portrait) {
  .res-header-container  {
    top: 56px; 
  }
}

@media screen and (min-width: $screen-small) {
  .res-header-container  {
    top: 64px; 
  }
}

.col-actions {
  grid-column: span 3;
}

.col-guest {
  grid-column: span 4;
  @include text-elipsis;
}

.col-contact, 
.col-arrival, 
.col-nights, 
.col-departure,
.col-ref,
.col-rate,
.col-roomtype,
.col-adult,
.col-child,
.col-infant,
.col-room,
.col-net,
.col-gross,
.col-ledger,
.col-status,
 {
  display: none;
}

@media screen and (min-width: 520px) {
  .col-contact {
    display: block;
    grid-column: span 4;
    @include text-elipsis;
  }
}

@media screen and (min-width: 700px) {
  .col-arrival {
    display: block;
    grid-column: span 3;
  }
}

@media screen and (min-width: 700px) {
  .col-nights {
    display: block;
    grid-column: span 1;
  }
}

@media screen and (min-width: 1080px) {
  .col-departure {
    display: block;
    grid-column: span 3;
  }
}

@media screen and (min-width: 1260px) {
  .col-ref {
    display: block;
    grid-column: span 4;
  }
}

@media screen and (min-width: 1400px) {
  .col-status {
    display: block;
    grid-column: span 3;
  }
}

@media screen and (min-width: 1525px) {
  .col-adult {
    display: block;
    grid-column: span 1;
  }
}

@media screen and (min-width: 1525px) {
  .col-child {
    display: block;
    grid-column: span 1;
  }
}

@media screen and (min-width: 1525px) {
  .col-infant {
    display: block;
    grid-column: span 1;
  }
}

@media screen and (min-width: 1615px) { 
  .col-rate {
    display: block;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1705px) {
  .col-roomtype {
    display: block;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1800px) {
  .col-room {
    display: block;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1980px) {
    .col-ledger {
    display: block;
    grid-column: span 4;
    @include text-elipsis;
  }
}

@media screen and (min-width: 2160px) {
  .col-net {
    display: block;
    grid-column: span 2;
  }
}

@media screen and (min-width: 2160px) {
  .col-gross {
    display: block;
    grid-column: span 2;
  }
}